:root {
    --ff-base:"Poppins", sans-serif;
    --fs-900:2rem;      /*32px*/
    --fs-800:clamp(1.25rem, -0.2045rem + 7.2727vw, 1.5rem);     /*20px - 24px*/
    --fs-700:clamp(1.125rem, 0.3977rem + 3.6364vw, 1.25rem);    /*18px - 20px*/
    --fs-400:clamp(0.8125rem, 0.0852rem + 3.6364vw, 0.9375rem); /*13px - 15px*/
    --fs-300:0.8125rem; /*13px*/

    --fw-semibold:600;
    --fw-regular:400;
    --fw-extralight:200;

    --clr-red:      0,  78%, 62%;
    --clr-cyan:   180,  62%, 55%;
    --cly-orange:  34,  97%, 64%;
    --clr-blue:   212,  86%, 64%;

    --clr-neutral-900:234,12%, 34%;
    --clr-neutral-500:229, 6%, 66%;
    --clr-neutral-200:  0, 0%, 98%;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
body{
    margin: 0;
}

body{
    min-height: 100dvh;

    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-neutral-200));
}

img,
picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Make form elements to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animation for people who' ve turned them off */
@media(pafers-reduced-motion: reduce) {
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.container {
    width: min(100% - 4rem, 1110px);
    margin-inline: auto;
    padding-block:  5.3125rem;/*85px*/
}

/* intro box */
.intro {
    max-width: 33.75rem; /*540px*/
    margin-inline: auto;
    text-align: center;
}

.intro .intro-title-first {
    font-size:   var(--fs-800);
    font-weight: var(--fw-extralight);
    color: hsl(var(--clr-neutral-900));
}

.intro .intro-title-second {
    font-size:   var(--fs-800);
    font-weight: var(--fw-semibold);
    color: hsl(var(--clr-neutral-900));
}

.intro .intro-info {
    color: hsl(var(--clr-neutral-500));
}

/* feature box */
.feature {
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    margin-block-start: 4.75rem;
}

/* feature-item */
.item {
    --item-width:21.875rem;
    display: grid;
    grid-template-rows: max-content;
    border-radius: 8px;
    box-shadow: 0 20px 25px -3px var(--clr-shadow-item), 
                0  8px 10px -4px var(--clr-shadow-item);  
                  
    position: relative;
    padding: 28px;
    min-height:222px;
    max-width: var(--item-width);
    background-color: var(--bg-feature-item);
}

/* create border top on feature-item */
.item::before {
    position: absolute;
    content: "";
    inset: 0;
    
    height:3.55px;
    margin-inline: auto;
    width:min(100% - 2px, var(--item-width));
    background-color: var(--clr-border-top, hsl(229, 6%, 66%));
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.item .title {
    align-self: start;
    font-size:   var(--fs-700);
    font-weight: var(--fw-semibold);
    color:       var(--clr-title-item);
}

.item .info {
    align-self: start;
    font-size: var(--fs-300);
    color:     var(--clr-info-item);
    line-height: 23px;
}

.item .feature-image {
    max-width: 3.5625rem;
    max-height: 3.5625rem;
    object-fit: cover;
    justify-self: end;
    align-self: end;
}

/* for custom color properties*/
.item:is(.item--cyan) {
    --clr-border-top:hsl(var(--clr-cyan));
    --clr-title-item:hsl(var(--clr-neutral-900));
    --clr-info-item:hsl(var(--clr-neutral-500));
    --bg-feature-item:hsl(var(--clr-neutral-200));
    --clr-shadow-item:hsl(var(--clr-neutral-500), .4);
}

.item:is(.item--red) {
    --clr-border-top:hsl(var(--clr-red));
    --clr-title-item:hsl(var(--clr-neutral-900));
    --clr-info-item:hsl(var(--clr-neutral-500));
    --bg-feature-item:hsl(var(--clr-neutral-200));
    --clr-shadow-item:hsl(var(--clr-neutral-500), .4);
}

.item:is(.item--orange) {
    --clr-border-top:hsl(var(--cly-orange));
    --clr-title-item:hsl(var(--clr-neutral-900));
    --clr-info-item:hsl(var(--clr-neutral-500));
    --bg-feature-item:hsl(var(--clr-neutral-200));
    --clr-shadow-item:hsl(var(--clr-neutral-500), .4);
}

.item:is(.item--blue) {
    --clr-border-top:hsl(var(--clr-blue));
    --clr-title-item:hsl(var(--clr-neutral-900));
    --clr-info-item:hsl(var(--clr-neutral-500));
    --bg-feature-item:hsl(var(--clr-neutral-200));
    --clr-shadow-item:hsl(var(--clr-neutral-500), .4);
}

@media (min-width: calc(21.875rem * 2)) {
    :root{
        --fs-800:2.25rem;
    }

    .container {
        padding-block: 5rem;
    }

    .feature {
        margin-block-start: 4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        
        "item-1 item-2"
        "item-3 item-4"
        ;
    }

    .item {
        min-height: 15.625rem;
    }

    .item .feature-image {
        max-width: 4rem;
        max-height: 4rem;
    }

    .item:nth-child(1){
        grid-area: item-1;
        justify-self: end;
    }

    .item:nth-child(2){
        grid-area: item-2;
        justify-self: start;
    }

    .item:nth-child(3){
        grid-area: item-3;
        justify-self: end;
    }

    .item:nth-child(4){
        grid-area: item-4;
        justify-self: start;
    }
}


@media (min-width:calc(21.875rem * 3)) {
    .feature {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        
        "item-1 item-2 item-4"
        "item-1 item-3 item-4"
        ;
    }

    .item:nth-child(1){
        grid-area: item-1;
        align-self: center;
    }

    .item:nth-child(2){
        grid-area: item-2;
    }

    .item:nth-child(3){
        grid-area: item-3;
    }

    .item:nth-child(4){
        grid-area: item-4;
        align-self: center;
    }
}