:root {
    --ff-base:"Poppins", sans-serif;
    --fs-900:2rem;      /*32px*/
    --fs-800:clamp(1.5rem, 1.1173rem + 1.6327vw, 2.25rem);    /*24px - 36px*/
    --fs-700:1.25rem;   /*20px*/
    --fs-400:0.9375rem; /*15px*/
    --fs-300:0.8125rem; /*13px*/

    --fw-semibold:600;
    --fw-regular:400;
    --fw-extralight:200;

    --clr-red:      0,  78%, 62%;
    --clr-cyan:   180,  62%, 55%;
    --cly-orange:  34,  97%, 64%;
    --clr-blue:   212,  86%, 64%;

    --clr-neutral-900:234, 12%, 34%;
    --clr-neutral-500: 229, 6%, 66%;
    --clr-neutral-200:   0, 0%, 98%;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
body{
    margin: 0;
}

body{
    min-height: 100dvh;

    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-neutral-200));
}

img,
picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Make form elements to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animation for people who' ve turned them off */
@media(pafers-reduced-motion: reduce) {
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.container {
    width: min(100% - 4rem, 1110px);
    margin-inline: auto;
    padding-block:  5.3125rem;/*85px*/
}

/* intro box */
.intro {
    max-width: 33.75rem; /*540px*/
    margin-inline: auto;
    text-align: center;
}

.intro .intro-title-first {
    font-size:   var(--fs-800);
    font-weight: var(--fw-extralight);
    color: hsl(var(--clr-neutral-900));
    line-height: 1.5;
}

.intro .intro-title-second {
    font-size:   var(--fs-800);
    font-weight: var(--fw-semibold);
    color: hsl(var(--clr-neutral-900));
    line-height: 1.35;
}

.intro .intro-info {
    margin-block-start: 1.22rem;
    color: hsl(var(--clr-neutral-500));
    line-height: 1.6;
}

/* feature box */
.feature {
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    margin-block-start: 4.75rem;
}

/* feature-item */
.item {
    --item-width:21.875rem;
    display: grid;
    grid-template-rows: max-content;
    border-radius: 0.25rem 0.25rem 0.5rem 0.5rem;
    border-top:    0.25rem solid var(--clr-border-top, hsl(229, 6%, 66%));
    box-shadow: 0 20px 25px -1px var(--clr-shadow-item, hsl(234, 12%, 34%, 0.2)), 
                0  8px 10px -3px var(--clr-shadow-item, hsl(234, 12%, 34%, 0.2));  
                  
    padding: 28px;
    min-height:222px;
    max-width: var(--item-width);
    background-color: var(--bg-feature-item);
}

.item .title {
    align-self: start;
    font-size:   var(--fs-700);
    font-weight: var(--fw-semibold);
    color:       var(--clr-title-item);
    line-height: 1.4;
}

.item .info {
    align-self: start;
    font-size: var(--fs-300);
    color:     var(--clr-info-item);
    margin-block-start: 0.55rem;
    line-height: 23px;
}

.item .feature-image {
    max-width: 3.5625rem;
    max-height: 3.5625rem;
    justify-self: end;
    align-self: end;
}

/* for custom color properties*/
.item:is(.item--cyan) {
    --clr-border-top:   hsl(var(--clr-cyan));
    --clr-title-item:   hsl(var(--clr-neutral-900));
    --clr-info-item:    hsl(var(--clr-neutral-500));
    --bg-feature-item:  hsl(var(--clr-neutral-200));
    --clr-shadow-item:hsl(213, 47%, 67%, 0.35);
}

.item:is(.item--red) {
    --clr-border-top:   hsl(var(--clr-red));
    --clr-title-item:   hsl(var(--clr-neutral-900));
    --clr-info-item:    hsl(var(--clr-neutral-500));
    --bg-feature-item:  hsl(var(--clr-neutral-200));
    --clr-shadow-item:hsl(213, 47%, 67%, 0.35);
}

.item:is(.item--orange) {
    --clr-border-top:   hsl(var(--cly-orange));
    --clr-title-item:   hsl(var(--clr-neutral-900));
    --clr-info-item:    hsl(var(--clr-neutral-500));
    --bg-feature-item:  hsl(var(--clr-neutral-200));
    --clr-shadow-item:hsl(213, 47%, 67%, 0.35);
}

.item:is(.item--blue) {
    --clr-border-top:   hsl(var(--clr-blue));
    --clr-title-item:   hsl(var(--clr-neutral-900));
    --clr-info-item:    hsl(var(--clr-neutral-500));
    --bg-feature-item:  hsl(var(--clr-neutral-200));
    --clr-shadow-item:hsl(213, 47%, 67%, 0.35);
}

@media (min-width: calc(21.875rem * 2)) {
    .container {
        padding-block: 76px;
    }

    .feature {
        margin-block-start: 4rem;
        grid-template-columns: 1fr 1fr;
        gap: 1.875rem;
        grid-template-areas: 
        
        "item-1 item-2"
        "item-3 item-4"
        ;
    }

    .item {
        min-height: 15.625rem;
    }

    .item .feature-image {
        max-width: 4rem;
        max-height: 4rem;
    }

    .item:nth-child(1){
        grid-area: item-1;
        justify-self: end;
    }

    .item:nth-child(2){
        grid-area: item-2;
        justify-self: start;
    }

    .item:nth-child(3){
        grid-area: item-3;
        justify-self: end;
    }

    .item:nth-child(4){
        grid-area: item-4;
        justify-self: start;
    }
}


@media (min-width:calc(21.875rem * 3)) {
    .feature {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        
        "item-1 item-2 item-4"
        "item-1 item-3 item-4"
        ;
    }

    .item:nth-child(1){
        grid-area: item-1;
        align-self: center;
    }

    .item:nth-child(2){
        grid-area: item-2;
    }

    .item:nth-child(3){
        grid-area: item-3;
    }

    .item:nth-child(4){
        grid-area: item-4;
        align-self: center;
    }
}